// Typography
$font-family: segoe-ui;
$font-size:16px;
$font-size-multiplier:1.1;

// color pallete
$color-primary:#004a7f;
$color-primary-dark:#00223b;
$color-secondary:#4bcaff;
$color-accent: #a3130e;
$color-gray:#373737;
$color-gray-light:#868686;
$color-gray-bg:#ebebeb;

:root{
  // Colors
  --primary:#004a7f;
  --primary-dark:#00223b;
  --secondary:#4bcaff;
  --accent: #a3130e;
  --gray:#373737;
  --gray-light:#868686;
  --gray-bg:#ebebeb;

  // Layout
  --gap: 30px;
  
}

// grid

$breakpoints: (
  xs: 24rem, //  384px
  sm: 32rem, //  512px
  md: 54rem, //  864px
  lg: 64rem, //  1024px
  xl: 80rem  //  1280px
);