extends ../includes/template
block vars
  //- -var bodyClass='is-home';
block metatags
  title Effio
  meta(name="description", content="description")

block main
  figure.banner-video
    iframe.banner-video__iframe(src="https://player.vimeo.com/video/16128627" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
  section.section.about-us
    .section-wrapper--m
      section.about-us__content
        h2.about-us__title.t-light Quienes #[span.t-semibold Somos]
        p.about-us__description #[span.t-semibold.t-uppercase Effio y Asociados] es una forma de consultoría especializada en brindar el servico Toma de Inventario Físico, Conciliación, Valorización y Tasación del Activo Fijo y Almacenes, lo que permite a nuestros clientes mantener un adecuado control de sus activos fijos y corrientes.
       
  section.section-wrapper
    h2.section__title.section__title--about.t-uppercase Principios #[span.t-semibold de Trabajo]
    p.section__description Realizamos la Toma de Inventario Físico, Conciliación, Valorización y Tasación del Activo Fijo y Almaneces hace más de una década, entregando resultados exitosos a nuestros clientes, bajo los siguientes principiuos de calidad:
    ul.section__list
      li.section__list-item Planificación y utilización de procedimientos de trabajos validados y bajo estrictas normas de calidad.
      li.section__list-item Asignación de personal adecuadamente calificado a las de nuestros clientes.
      li.section__list-item Utilización de tecnología de punta en el levantamiento y procesamiento de la información.
      li.section__list-item Cumplimiento estricto de los plazos y presupuestos contratados.
      li.section__list-item Evaluación permanente para entregar a nuestros clientes conclusiones expertas para mejorar la Gestion de los Inventarios.