extends ../includes/template
block vars
  -var bodyClass='is-home';
block metatags
  title Effio
  meta(name="description", content="description")

block main
  article.slider
    section.slider__content
      .slider__view
        h1.slider__title Conozca el #[span.t-semibold Valor Real] 
          |  
          br 
          |de su Almacen
        a.slider__btn(href="#") Más Información
          span.slider__btn--bg
      nav.slider__nav
        span.slider__trigger
        span.slider__trigger
        span.slider__trigger
        span.slider__trigger
    figure.slider__item
      img.slider__img(src="img/slide-bg.jpg", alt="")
  section.section.stock--section
    .stock
      article.stock-item
        figure.stock__fig
          img.stock__img(src="img/stock1.jpg", alt="")
        a.stock__btn(href="#") +
        h2.stock__title Activo Fijo
        ul.stock__list
          li.stock__list-item Toma de Inventario
          li.stock__list-item Identificación de los Bienes
          li.stock__list-item Conciliación Fisica y Rentable
          li.stock__list-item Resultados
          li.stock__list-item Servicios Complementarios
      article.stock-item
        figure.stock__fig
          img.stock__img(src="img/stock2.jpg", alt="")
        a.stock__btn(href="#") +
        h2.stock__title Mercancias y Almacenes en General
        ul.stock__list
          li.stock__list-item Toma de Inventario
          li.stock__list-item Identificación de los Bienes
          li.stock__list-item Ordenamiento de Almancén
          li.stock__list-item Conciliación Fisica y Rentable
          li.stock__list-item Resultados
          li.stock__list-item Servicios Complementarios
  section.section.about-us
    .about-us__conatiner
      section.about-us__content
        h2.about-us__tittle Quienes #[span.t-semibold Somos]
        p.about-us__description
        a.about-us__btn
          span.t-semibold Conósenos
      figure.about-us__video 
        iframe(src="https://player.vimeo.com/video/7396421" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
  section.section-btn
    p.section-btn__content.t-semibold Puede revisar nuestros servicos con nuestros clientes
    a.section-btn__link(href="#") Aquí
  section.section.logo-gallery
    figure.logo-gallery__fig
      img.logo-gallery__img(src="img/logo1.png", alt="")
    figure.logo-gallery__fig
      img.logo-gallery__img(src="img/logo2.png", alt="")
    figure.logo-gallery__fig
      img.logo-gallery__img(src="img/logo3.png", alt="")
    figure.logo-gallery__fig
      img.logo-gallery__img(src="img/logo4.png", alt="")
    figure.logo-gallery__fig
      img.logo-gallery__img(src="img/logo5.png", alt="")
    figure.logo-gallery__fig
      img.logo-gallery__img(src="img/logo6.png", alt="")
    figure.logo-gallery__fig
      img.logo-gallery__img(src="img/logo7.png", alt="")
    figure.logo-gallery__fig
      img.logo-gallery__img(src="img/logo8.png", alt="")
    
  



  
