.menu{

  @at-root .nav-bar-is-open{
    overflow-y: hidden;
    @include media(md,max,landscape){
      height: 150vh;
    }
  }

  &,ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  display: flex;
  width: 100%;
  justify-content: flex-end;
  color:white;
  font-family: segoe-ui-semibold;
  transition: all ease-in-out .5s;

  &.open{
    transform: translateX(0);
    display: flex;
  }

  @include media(md){
    // display: none;
    position: fixed;
    top: 100%;
    transform: translateX(100%);
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    background-image: linear-gradient(to left,rgba($color-primary-dark,.9) 0%,rgba($color-primary-dark,.9) 100%);
    z-index: 900;
    margin-top: 0;
  }


  &__item{
    
    align-items: center;
    // display: flex;
    margin: 0 0 0 1em;
    position: relative;
    padding: 10px 0;
    transition: all ease-out .2s;
    justify-content: center;
    @include media(md){
      display: flex;
      flex-direction: column;
      // display: none;
      // justify-content: center
    }
    @include media(1000px){
      margin: 0;

    }

    
    &:hover{
      @include media(md,min){

        .sub-menu{
          transform: scale(1,1);
          opacity: 1;
  
        }
      }
    }
  }
  &__link{
    padding: 10px 1em;
    text-transform: uppercase;
    border: transparent solid 2px;
    position: relative;
    transition: all ease-out .2s;
    text-align: center;
    @include media(1000px){
      padding: 10px .5em;
    }
    @include media(md){
      display: block;
      width: 100%;
    }
    

    &.#{has-sub-menu}{
      @include media(md,min){

        &::after{
          // display: inline;
          // content:'\e908 dsadsadas';
          content:'\e908';
          font-family: Flaticon;
          font-size: inherit;
          font-style: normal;
          // vertical-align: center;
          margin: 0;
          padding: 0;
          display: inline;
  
  
          
        }
        &.open.#{has-sub-menu}{
          &::after{
  
            content:'\e905 ';
          }
        }
      }
      @include media(md){
        position: relative;
        &::after{
          position: absolute;
          right: v(gap);
          font-size: 1.5rem;
        }
      }
    }
    &::before{
      content: "";
      height: calc(100% + 2px);
      width: calc(100% + 2px);
      transform: scale(0);
      transition: inherit;
      position: absolute;
      box-sizing: border-box;
      display: block;
      top: -1px;
      // top: 1px;
      left: -1px;
      border: transparent 2px solid;
      @include media(md){
        display: none;
      }
    } 
    &:hover{
      color: v(secondary);
      // color: red;
      &::before{
        border-color: v(secondary);
        transform: scale(1)

      }
      &::after{
        border-color: v(secondary);
      }
      
    }
  }



  @at-root .sub-menu{
    // transform: ;
    @include media(md){
      &.open{
        
        background-image: linear-gradient(to left,rgba($color-primary-dark,1) 0%,rgba($color-primary-dark,1) 100%);
        transform: scale(1,1) translateY(-200%);
        transform: scale(1,1);
        opacity: 1;
        top:calc(100%);
      }
      @include media(md,max,landscape){

        &.open--rotate{
          top: -200%;
          // height: 100%;
        }
      }
      &-l2.open{
        background-image: linear-gradient(to left,rgba($color-primary-dark,1) 0%,rgba($color-primary-dark,1) 100%);
        opacity: 1;
        transform: scale(1,1);
        top:calc(100%);
      }
    }

    &,&-l2{

      position: absolute;
      top:calc(100% + 10px);
      @include media(md,min){

        width: 220%;
      }
      width: 100%;

      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: right;
      background-image: linear-gradient(to left,rgba($color-primary-dark,.7) 0%,rgba($color-primary-dark,.7) 100%);
      transform: scale(1,0);
      transition: inherit;
      transform-origin: top;
      opacity: 0;
      z-index: 1000;
    }

    &-l2{
      &__link{
        padding: 8px 4px;
        display: block;
        text-transform: uppercase;
        color:#bbb7b7;
        transition: inherit;
      }
    }

    @include media(md,min){

      &-l2{
        // display: none;
        transform: scale(0,1);
        opacity: 0;
        transform-origin: right;
        top:0;
        width: 100%;
        right: calc(100% + 5px);
        transition: all ease-out .2s;
        &__item{
          
          &:hover{
            color: v(secondary)
          }
        }
        &__link{
          position: relative;
          &:hover{
            color: v(secondary)
          }

          
        }
        &:hover{
          .menu--sub-menu-l2{
            transform: scale(1,1);
            opacity: 1;
    
          }
        }
  
      }
    }

    &__item{
      text-align: center;
      &:hover{
       
        @include media(md,min){

          .sub-menu-l2{
            transform: scale(1,1);
            opacity: 1;
    
          }
        }
      }
    }
    &__link{
      padding: 8px 4px;
      display: block;
      text-transform: uppercase;
      color:#bbb7b7;
      transition: inherit;
      position: relative;
      &.#{has-sub-menu}{
        @include media(md,min){

          &::before{
            // display: inline;
            content:'\e908 dsadsadas';
            content:'\e907 ';
            font-family: Flaticon;
            font-size: inherit;
            font-style: normal;
            vertical-align: center;
            @include media(md){
              content:'\e908 ';
            }
          }
          &.open{
            &::before{
              content:'\e905 ';
            }
          }
        }
        
      }
      .sub-menu__trigger{
        transform: translate(0,-50%);
        right: 2em;
      }

      &:hover{
        color:#fff;
        transform: scale(1,1);
        
      }
    }

    &__trigger{

      position: absolute;

      top: 50%;
      right: 50%;
      // z-index: 2000;
      transform: translate(5em,-50%);
      
      border: solid 1px rgba($color-secondary, .5);
      display: block;
      height: 1.2em;
      width: 1.2em;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before{
        content:'\e908';
          font-family: Flaticon;
          font-size: inherit;
         
          // vertical-align: center;
         
          display: inline;
      }
      &.open{
        background-color: rgba($color-secondary, .3);
        &::before{

          content:'\e905 ';
        }
      }
    }

  }


}

.menu-ft{
  display: flex;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  justify-content: flex-end;

  @include media (md){
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;
    align-items: stretch
  }

  &__item{
    // padding: 1em 1em;
    border-left: white solid 1.5px;
    @include media (md){
      border-left: none;
      margin: .5em 0;
    }
  }

  &__link{
    padding: .6em .6em;
    margin: 0 .6em;
    position: relative;
    @include media (md){
      margin: 1em 0;
    }
    
    &:hover{
      &::before{
        transform: scale(1,1)

      }
    }
    &::before{
      content: '';
      height: 2px;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: v(accent);
      transform: scale(0,1);
      transition: all ease-in-out .4s;
    }
  }



}


.side-menu{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  color: v(primary-dark);
  font-size: 1.2em;
  margin: 0;

  &__link{
    padding: .6em 1em;
    display: block;
    transition: all .4s ease-in-out;
    &.active,&:hover{
      background-color: v(accent);
      color: white;
    }
  }
}