:root{
  --header-widget-height:40px;
}
.contac-info{
  display: block;
  height: var(--header-widget-height);
  @include media(550px){
    --header-widget-height: 80px;
    //  padding: 0m;

  }
  padding: 0 1em;
  &__wrapper{
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    @include media(md){    
      justify-content: space-around;

    }
    @include media(550px){
      flex-wrap: wrap;
  
    }
  }
  &__icon{
    margin-right: 5px
  }
}
  [class*='contac-info__item']{
    margin-left: 2.5em;
    @include media(md){    
      margin-left: 0;
    }
  }

:root{
  --nav-height:80px;
}
body{
  overflow-x: hidden;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  // overflow: hidden;
  @include media(550px){
    --header-widget-height: 80px;
    // height: var(--header-widget-height) * 2;
  }
  // overflow-x: hidden;
  // overflow-y: hidden;
  // background-color: v(primary)
  @at-root .is-home &{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: var(--header-widget-height);
    z-index: 950;

    @include media(550px){
      --header-widget-height: 80px;
      // height: var(--header-widget-height) * 2;
    }
  }
}

.nav-logo{
  height: 80%;
  @include media(1000px){
    height: 60%;
  }
  @include media(sm){
    height: 50%;
  }
  @include media(xs){
    height: 40%;
  }
  &__img{
    height: 100%;
    @include media(md){
      margin-left: 1em;
    }
  }

}

.about-us{
  padding: $gap  v(gap);
  &__conatiner{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: v(gap);
    // height: 60vh;
    // min-width: 60vh;
    @include media(md){
      grid-template-columns: repeat(1,1fr);
      // grid-template-rows: 60vh;
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  &__description{
    margin-bottom: 2rem;
  }
  &__btn{
    // width:40px; /* Collapses .statusmessage so it doesn't affect column width */
    // display: table;
    align-self: flex-start;
  }
  &__video{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 56.25%;

    iframe{
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%; 
      width: 100%;
      // display: none
      // height: auto;
    }
  }
}
.section-wrapper{
  max-width: 1200px;
  margin: auto;
  width: 100%;
  margin-bottom: v(gap);
  @include media(1200px){
    padding: 0 v(gap)
  }
}
.section-btn{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-footer{
  padding: $gap;
  // display: none;
  &__grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow: dense;
    grid-column-gap: v(gap);
    max-width: 1200px;
    margin: auto;
    // padding: 0 v(gap);
    @include  media (md){
      grid-template-columns: repeat(1,1fr);
    }

  }

}
  .footer-nav{
    grid-column: 2 /3;
    grid-row: 1 /3;
    // display: flex;
    @include  media (md){
      grid-column: 1 /2;
      grid-row: 2 /3;
    }
  }
  .footer-logo{
    // height: 80px;

    @include media(sm){
      height: 40px;
    }
    &__img{
      height: 100%;
    }
  }