footer.main-footer
  .main-footer__grid
    nav.footer-nav
      ul.menu-ft
        li.menu-ft__item
          a.menu-ft__link(href="#") Inicio
        li.menu-ft__item
          a.menu-ft__link(href="#") Quienes Somos
        li.menu-ft__item
          a.menu-ft__link(href="#") Servicios
        li.menu-ft__item
          a.menu-ft__link(href="#") Contacto
    figure.footer-logo
      img.footer-logo__img(src="img/logo-effio-white.png", alt="Effio y asociados")
    p.avileble-time
      span.t-semibold Horario de Atención
      //- br
      time Lunes - Viernes: 9am - 6pm
    small.copyright-info 2018 &copy; Todos los derechos reservados por #[span.t-semibold Effio y Asociados]
      